.HomeAdminListingtask {
@include flex-vertical;
align-items: center;


  .add-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 80vw;
    margin: 2vh auto;
    padding: 2vh 2vw;


    .add-task-btn{
      width: 5rem;
      height: 1.5rem;
    }
  }

  .task-list{
    @include flex-vertical;
    height: 5vh;
    width: 80vw;
    margin: 2vh auto;
    padding: 2vh 0;

    
    .task{
      display: flex;
      margin: 1vh;
      align-items: center;


      .task-to-edit{
        margin: 0 1rem;
      }

      .delete-btn{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }









}