/* Website Font */
$app-primary-font: "Roboto", sans-serif;
$font-family-title: "Poppins", serif;

/* Media query */
$app-mobile: 320px;
$app-tablet: 768px;
$app-desktop: 1024px;
$app-desktop-medium: 1440px;
$app-desktop-large: 1680px;